# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
.venv/
env/
venv/

# SQLite databases
*.sqlite3
db.sqlite3

# Environment variables
.env

# VSCode settings
.vscode/

# OS-specific
.DS_Store
